    <div class="row">
<div class="col-lg-4 col-sm-12 col-xs-12">
     <nav aria-label="...">
  <ul class="pagination pagination-rounded">

        {% if list.has_previous %}
              <li class="page-item">
      <a title="صفحه اول" data-toggle="tooltip" class="page-link" href="?page=1&{{ query_string }}" tabindex="-1" aria-disabled="true">
        <i class="ti-angle-double-right" aria-hidden="true"></i>
      </a>
    </li>
     <li class="page-item">
      <a title="صفحه قبل" data-toggle="tooltip" class="page-link" href="?page={{ list.previous_page_number }}&{{ query_string }}" tabindex="-1" aria-disabled="true">
        <i class="ti-angle-right" aria-hidden="true"></i>
      </a>
    </li>
{#    <li class="page-item"><a class="page-link" href="?page={{ list.previous_page_number }}&{{ query_string }}">{{ list.previous_page_number }}</a></li>#}
     {% else %}
            <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
        <i class="ti-angle-right" aria-hidden="true"></i>
      </a>
        {% endif %}
    <li class="page-item active" aria-current="page">
      <a title="صفحه جاری" data-toggle="tooltip" class="page-link" href="?page={{ list.number }}&{{ query_string }}">{{ list.number }} <span class="sr-only">(current)</span></a>
    </li>
    {% if list.has_next %}
{#    <li class="page-item"><a class="page-link" href="?page={{ list.next_page_number }}&{{ query_string }}">{{ list.next_page_number }}</a></li>#}

    <li class="page-item">
      <a title="صفحه بعد" data-toggle="tooltip" class="page-link" href="?page={{ list.next_page_number }}&{{ query_string }}">
        <i class="ti-angle-left" aria-hidden="true"></i>
            </a>
    </li>
    <li class="page-item">
      <a title="صفحه آخر" data-toggle="tooltip" class="page-link" href="?page={{ page_obj }}&{{ query_string }}">
        <i class="ti-angle-double-left" aria-hidden="true"></i>
  </a>
    </li>
        {% else %}
        <li class="page-item disabled">
      <a class="page-link" href="#">
        <i class="ti-angle-left" aria-hidden="true"></i>
          </a>
    </li>
            {% endif %}
  </div>

    <div class="col-lg-4 col-sm-12 col-xs-12 text-left"></div>
<div class="col-lg-4 col-sm-12 col-xs-12 text-left">
<h4 CLASS="text-right">	صفحه {{ list.number }} از {{ page_obj }}</h4>
  </ul>
</nav>
</div>
</div>