[client]
database = gtshard
user = root
password = 963963
host = localhost 
port = 3306
default-character-set = utf8
sql_mode=”NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION”
SECRET_KEY='django-insecure-m-i^9qoe8ez^tog)t!t*at)e#s2ho!-ld%glor!e2t2^lrqq0%'

MAGFA_USERNAME = "sookht_75948"
MAGFA_PASSWORD = "UeFt5MJHSVrDOs6n"