{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load jalali_tags %}
{% block css %}

    <style>
        thead,
        tfoot {
            background-color: #3f87a6;
            color: #fff;
        }
    </style>

{% endblock %}
{% block context %}
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>

        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/jalalidatepicker.min.css' %} " />
<script type="text/javascript" src="{% static 'assets/js/jalalidatepicker.min.js' %}"></script>
        {% include 'message.html' %}
    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="card">
            <div class="card-body">

        <ul class="nav">
            <div class="row">
                <div class="container">
                    <div class="col-12">
                        <h3 class="c-center c-font-uppercase c-font-bold"> گزارش  کارکرد کارگاه
                         </h3>

                    </div>
                </div>
            </div>
        </ul>

        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                 <a id="exportBtn1" style="color: #fffbff" class="btn nav-link bg-info" title="ارسال به اکسل "> <i data-feather="send" aria-hidden="true"></i>ارسال به اکسل</a>
                    <table id="tab1" class="table align-items-center mb-0">
 <caption style="display: none">گزارش </caption>
                        <tr>
                            <th scope="col">#</th>
                            <th class="align-middle text-center text-sm" scope="col">نام کارگاه</th>
                            <th class="align-middle text-center text-sm" scope="col">تاریخ</th>
                            <th class="align-middle text-center text-sm" scope="col">نوع قطعه</th>
                            <th class="align-middle text-center text-sm" scope="col">شماره سریال</th>





                        </tr>


                        <tbody>
                        {% for lists in list %}
                            <tr>
                                <th class="align-middle text-center text-sm"
                                    scope="row">{{ forloop.counter }}</th>
                                <td class="align-middle text-center text-sm">{{ lists.storage}}</td>

                                <td class="align-middle text-center text-sm">{{ lists.create|to_jalali:'%Y/%m/%d'}}</td>

                                <td class="align-middle text-center text-sm">{{ lists.store.statusstore}}</td>
                                <td class="align-middle text-center text-sm">{{ lists.store.serial}}</td>




                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>


                </div>
            </div>
        </div>

    </div></div>
<script src="{% static 'assets/js/apexcharts.js' %}"></script>
    </div>

{% endblock %}
{% block script %}
<script>
        jalaliDatepicker.startWatch();
        $('.select2-example').select2({
            placeholder: 'Select'
        });

                    $("#exportBtn1").click(function () {

                TableToExcel.convert(document.getElementById("tab1"), {
                    name: "sell.xlsx",
                    sheet: {
                        name: "Sheet1"
                    }
                });
            });







    </script>
{% endblock %}