{% extends 'base.html' %}
{% load static %}

{% block context %}
    <link rel="stylesheet" href="{% static 'vendors/select2/css/select2.min.css' %}" type="text/css">
    <link type="text/css" rel="stylesheet" href="{% static 'assets/css/jalalidatepicker.min.css' %} "/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/_pelak.css' %}"/>
    <script type="text/javascript" src="{% static 'assets/js/jalalidatepicker.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <style>

    </style>

    {% include 'message.html' %}


    <div id="FilterCard" style="display: none" class="card">

        <div class="card-body text-center">
            <h4>فیلترها </h4>
        </div>

        <form action="">
            <hr class="m-0">
            <div class="card-body">
                <div class="row text-center">

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label for="area">از منطقه / کارگاه</label>
                        <select name="zone" id="id_zone" class="select3-example" multiple>
                            {% for item in filter.form.zone %}
                                {{ item }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label for="storage">به کارگاه </label>
                        <select name="storage" id="id_storage" class="select3-example" multiple>
                            {% for item in filter.form.storage %}
                                {{ item }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label for="area">وضعیت </label>
                        <select name="status" id="id_status" class="select3-example" multiple>
                            {% for item in filter.form.status %}
                                {{ item }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12"></div>
                    <div class="col-md-6 mb-6 col-sm-12">
                        <div class="form-group">
                            <label for="validationCustom02"> از تاریخ </label>
                            <input data-jdp name="select" id="select" type="text" class="form-control"
                                   placeholder="تاریخ" autocomplete="off">


                        </div>
                    </div>


                    <div class="col-md-6 mb-6 col-sm-12">
                        <div class="form-group">
                            <label for="validationCustom02"> تا تاریخ </label>
                            <input data-jdp name="select2" id="select" type="text" class="form-control"
                                   placeholder="تاریخ" autocomplete="off">


                        </div>
                    </div>


                </div>
                <div></div>
                <hr>
                <button style="color: #f3fdf3" id="FilterCardClose" onclick="FilterCardClose()" type="submit"
                        class="btn nav-link bg-warning"> نمایش نتایج
                </button>
                <a style="color: #f3fdf3" onclick="FilterCardCloseform()"
                   class="btn nav-link bg-dark-bright">بستن
                </a>
            </div>


        </form>
    </div>

    <div class="card">
    <h3>لیست قطعات داغی ارسالی <a id="exportBtn1" style="color: #fffbff" class="btn nav-link bg-info" title="ارسال به اکسل ">ارسال
        به اکسل</a></h3>
    <ul class="nav">
        <li class="nav-item">
            <a onclick="getFilter()" class="btn nav-link bg-success-bright" title="فیلتر ارسالی ها"
               data-toggle="tooltip">
                <i data-feather="filter" aria-hidden="true"></i>فیلترها
            </a>
        </li>
        &nbsp


        <form action="">
            <div class="input-group">
                <input type="text" id="id_search" name="search" class="form-control" placeholder="جستجوی  "
                       aria-describedby="button-addon1">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="submit" id="button-addon1">
                        <i data-feather="search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </form>

    </ul>
    {% csrf_token %}

    <div class="card-body">
    {% include 'ticket/days.html' %}
    <div class="table-responsive">
        <table id="myTable" class="table table-striped ">
         <caption style="display: none">منطقه رسید شده ها</caption>
            <thead>
            <tr>

                <th scope="col">از منطقه</th>
                <th scope="col">به کارگاه</th>
                <th scope="col">تاریخ ارسال</th>
                 <th scope="col"  class="text-center"> تعداد کارتخوان {{ summaster|default_if_none:"" }}</th>
                 <th scope="col"  class="text-center"> تعداد صفحه کلید {{ sumpinpad|default_if_none:"" }}</th>
                <th scope="col">شماره مرسوله</th>
                <th scope="col">تاریخ رسید کارگاه</th>

                <th scope="col">ارسال به اکسل</th>


            </tr>
            </thead>
            <tbody>
            {% for g in list %}
                <tr id="tr{{ g.id }}">

                <td>{{ g.zone.name }}
                    <td>{% if formpermmision.editstorezone == 'full' %}
                      <a href="{% url 'pay:updatestorezone' g.id %}"  class="btn btn-warning"><i data-feather="edit" aria-hidden="true"></i> </a>
                {% endif %}
                        {{ g.storage.name }}

                </td>
                <td>{{ g.mdate }}</td>
                <td class="text-center">
                    <button data-target="#mymasterlist" data-toggle="modal" onclick="masterlist({{ g.id }},1)"
                            class="btn btn-primary">{{ g.master }} </button>
                </td>
                <td class="text-center">
                    <button data-target="#mymasterlist" data-toggle="modal" onclick="masterlist({{ g.id }},2)"
                            class="btn btn-primary">{{ g.pinpad }} </button>
                </td>

                    <td> {{ g.marsole }} </td>

                {% if g.status_id == 8 %}
                    <td> ( {{ g.rdate }} )</td>

                {% else %}
                    <td> رسید نشده</td>
                {% endif %}

                <td class="text-center">
                    <a href="{% url 'pay:StoreToExcel' g.id '2' %}" class="btn btn-outline-primary"> ارسال به اکسل</a>
                </td>

            {% endfor %}
            </tfoot>
        </table>
    </div>
    <nav aria-label="...">
        <ul class="pagination pagination-rounded">

            {% if list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ list.previous_page_number }}&{{ query_string }}" tabindex="-1"
                       aria-disabled="true">
                        <i class="ti-angle-right" aria-hidden="true"></i>
                    </a>
                </li>

                <li class="page-item"><a class="page-link"
                                         href="?page={{ list.previous_page_number }}&{{ query_string }}">{{ list.previous_page_number }}</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <i class="ti-angle-right" aria-hidden="true"></i>
                </a>
            {% endif %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ list.number }}&{{ query_string }}">{{ list.number }} <span
                        class="sr-only">(current)</span></a>
            </li>
            {% if list.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ list.next_page_number }}&{{ query_string }}">{{ list.next_page_number }}</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="?page={{ list.next_page_number }}&{{ query_string }}">
                        <i class="ti-angle-left" aria-hidden="true"></i>
                        {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#">
                <i class="ti-angle-left" aria-hidden="true"></i>
            {% endif %}
            </a>
            </li>
        </ul>
    </nav>
    <input id="ticketId" type="hidden" value="">
    <input id="ischangemasterid" type="hidden" value="">
    <input id="ischangepinpadid" type="hidden" value="">
    <div class="modal fade" id="mymasterlist" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div id="headerid" class="modal-header">


        </div>
        <div class="modal-body">
            <div id="gsidid"></div>

            <table id="SerialTable" class="table table-striped table-bordered">
                 <caption style="display: none">رسده های منطقه</caption>
                <thead>
                <tr>
                    <th scope="col"> ردیف</th>
                    <th scope="col"> شماره سریال</th>
                </tr>
                </thead>
                <tbody>

                </tbody>

            </table>


        </div>

        <div class="modal-footer">
            <div id="fotteridclose">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}
    <script src="{% static 'assets/js/examples/datatable.js' %}"></script>
    {#    <script src="{% static 'vendors/dataTable/jquery.dataTables.min.js' %}"></script>#}
    <script src="{% static 'vendors/select2/js/select2.min.js' %}"></script>
    <!-- Bootstrap 4 and responsive compatibility -->
    <script src="{% static 'vendors/dataTable/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/dataTable/dataTables.responsive.min.js' %}"></script>
    {% include 'script_pay.html' %}


    <script>
        jalaliDatepicker.startWatch();
        $('.select2-example').select2({
            placeholder: 'همه موارد',
            allowClear: true
        });
        $('.select2-example').select2({
            placeholder: 'Select'
        });
        $('.select3-example').select2({
            placeholder: 'Select'
        });
        $('.select4-example').select2({
            placeholder: 'Select'
        });
        $('.select5-example').select2({
            placeholder: 'Select'
        });
        $('.select6-example').select2({
            placeholder: 'Select'
        });
        $('.select7-example').select2({
            placeholder: 'Select'
        });

        function getFilter() {
            document.getElementById('FilterCard').style.display = "block";
        }

        function FilterCardClose() {
            document.getElementById('FilterCard').style.display = "none";
        }

        function FilterCardCloseform() {
            document.getElementById('FilterCard').style.display = "none";
        }


        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#exportBtn1").click(function () {
                TableToExcel.convert(document.getElementById("myTable"), {
                    name: "list.xlsx",
                    sheet: {
                        name: "Sheet1"
                    }
                });
            });
        });
    </script>
{% endblock %}