<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            
                    <button style="font-size: 20px" class="badge badge-light">کل تیکت های بسته شده</button>
                    <button style="font-size: 20px" class="badge badge-primary">{{ dashboardzone.count_me }}</button>
            <br>
            <br>
                     <button style="font-size: 20px" class="badge badge-light">تعویض کارتخوان شده</button>
                    <button style="font-size: 20px" class="badge badge-primary">{{ dashboardzone.count_c_master }}</button>
            <br>   
            <br>   
                    <button style="font-size: 20px" class="badge badge-light">تعویض صفحه کلید شده</button>
                    <button style="font-size: 20px" class="badge badge-primary">{{ dashboardzone.count_c_pinpad }}</button>
                


        </div>
    </div>
</div>
