


{% include 'dashboard/setad/bohran.html' %}

 <div class="table-responsive">
    <table id="myTable" class="table table-striped table-bordered">
    <caption>گزارش</caption>
        <thead>
        <tr>
            <th class="text-center">منطقه</th>
            <th class="text-center">اینشیال شده</th>
            <th class="text-center">در صف</th>
            <th class="text-center">مشکل ارتباط</th>

        </tr>
        </thead>
        <tbody>


        </tbody>

<script>
        var myVar = setInterval(myTim, 15 * 1000);

    function myTim() {
        Live_Info_Bohran()
    }

    document.addEventListener("visibilitychange", function () {
        if (document.visibilityState === "hidden") {
            clearInterval(myVar)
        } else {
            myVar = setInterval(myTim, 15 * 1000);
        }
    })
</script>
