{% load static %}

<!DOCTYPE html>
<html lang="fa">
   <head>

       <link type="text/css" href="{% static 'css/bootstrap-rtl.css' %}" rel="stylesheet"/>
       <link type="text/css" href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
      <title>HTML Meta Tag</title>

   </head>
   <body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="col-lg-auto">
 <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">عملیات خروج با موفقیت انجام شد!</h4>

  <p class="mb-0">تا چند لحظه دیگر به صفحه لاگین بر میگردید.</p>
    </div>
        </div>
    </div>
</div>
   </body>
</html>