
.custom-inputs > div {
    padding-right: 25px;
  margin-top: 0.4rem;
  border-radius: 50px;
  width: 100%;
  min-width: 100%;
  border: 1px solid #CAD0D3;
  color: #CAD0D3;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .custom-inputs > div {
    min-width: 350px;
  }
}
.custom-inputs > div > img {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(calc(-50% + 0.5px));
  filter: grayscale(100%);
}


.custom-inputs > div input {
  outline: none;
  width: 100%;
  border: 0;
  border-radius: 80px;
  padding-right: 10px;
  padding: 0.4rem;
}

