{% load static %}
<script src="{% static '/assets/js/apexcharts.js' %}"></script>

<script>


 var options = {
        series: [],
        chart: {
            height: 350,
            type: 'line',
        },
        dataLabels: {
            enabled: false
        },
        title: {
            text: '',
        },
        noData: {
            text: 'Loading...'
        },
        xaxis: {
            type: 'category',
            tickPlacement: 'off',
            labels: {
                rotate: -45,
                rotateAlways: false
            }
        },
          yaxis: {
    labels: {
      formatter: function (value) {
        return new Intl.NumberFormat('en-US', {
          maximumFractionDigits: 2,
          minimumFractionDigits: 0
        }).format(value);
      }
    }
  },
  tooltip: {
    y: {
      formatter: function (value) {
        return new Intl.NumberFormat('en-US', {
          maximumFractionDigits: 2,
          minimumFractionDigits: 0
        }).format(value);
      }
    }
  }
    };

    var options2 = {
        series: [],
        chart: {
            height: 350,

        },
        dataLabels: {
            enabled: false
        },
        title: {
            text: '',
        },
        noData: {
            text: 'Loading...'
        },
        xaxis: {
            type: 'category',
            tickPlacement: 'on',
            labels: {
                rotate: -45,
                rotateAlways: true
            }
        },
          yaxis: {
    labels: {
      formatter: function (value) {
        return new Intl.NumberFormat('en-US', {
          maximumFractionDigits: 0,
          minimumFractionDigits: 0
        }).format(value);
      }
    }
  },
  tooltip: {
    y: {
      formatter: function (value) {
        return new Intl.NumberFormat('en-US', {
          maximumFractionDigits: 0,
          minimumFractionDigits: 0
        }).format(value);
      }
    }
  }
    };

function chartrow(val) {

    if (val == 1) {
        console.log(val)
        chartgo(1)
    } else if (val == '2') {
        chartgo(2)
    } else if (val == '3') {
        chartgo(3)
    } else if (val == '4') {
        chartgo2(4)
    } else if (val == '5') {
        chartgo2(5)
    }else if (val == '6') {
        chartgo3(6)
    }else if (val == '7') {
        chartgo3(7)
    }else if (val == '8') {
        chartgo4(1)
    }else if (val == '9') {
        chartgo4(2)
    }else if (val == '10') {
        chartgo4(3)
    }else if (val == '11') {
        chartgo5(1)
    }

}
    var chart = new ApexCharts(document.querySelector("#chart99"), options);
chart.render();
function chartgo(val) {
  



    $.getJSON('/chart/sum_sell_view/'+val+"/", function (response) {
        const tarikh = [];
        const amount = [];
        const sumsell = [];

        for (obj in response.mylist) {
            const mlist = response.mylist[obj];
            tarikh.push(mlist.tarikh)
            amount.push(mlist.amount)
            sumsell.push(response.sumamount)
        }

        chart.updateSeries([{
            name: 'لیتر',
            data: amount,

        },
            {
                name: 'میانگین فروش',
            data: sumsell,
            }
        ])

        chart.updateOptions({
            xaxis: {
                categories: tarikh
            },

        });
    });

        
}

function chartgo2(val) {
    waiting()



    $.getJSON('/chart/sum_nerkh_view/'+val+"/", function (response) {
       
        const tarikh = [];
        let yarane = [];
        let nimeyarane = [];
        const ezterari = [];
        const azad = [];
         const formatNumber = (value) => {
            return new Intl.NumberFormat('en-US', {
                maximumFractionDigits: 2, // حداکثر دو رقم اعشار
                minimumFractionDigits: 0  // حداقل صفر رقم اعشار
            }).format(value);
        };
        for (obj in response.mylist) {
            const mlist = response.mylist[obj];
            yarane.push((parseFloat(mlist.yarane)));
            nimeyarane.push((parseFloat(mlist.nimeyarane)));
            ezterari.push((parseFloat(mlist.ezterari)));
            azad.push((parseFloat(mlist.azad)));
            tarikh.push(mlist.tarikh)
            
        }
       
        chart.updateSeries([{
            name: 'نرخ یارانه ایی کارت شخصی',
            data: yarane,
        },{
           name: 'نیمه یارانه ایی کارت شخصی',
           data: nimeyarane,
        },{
           name: 'نرخ آزاد کارت شخصی',
           data: azad,
        },{
               name: 'نرخ آزاد کارت جایگاه',
            data: ezterari,
        }

        ])

        chart.updateOptions({
            xaxis: {
                categories: tarikh
                
            },

        });
    });

    ending()
}


function chartgo3(val) {
    waiting()



    $.getJSON('/chart/sum_cart_view/'+val+"/", function (response) {
        const tarikh = [];
        const yarane = [];

        const azad = [];
        for (obj in response.mylist) {
            const mlist = response.mylist[obj];
            tarikh.push(mlist.tarikh)
            yarane.push(mlist.yarane)
            azad.push(mlist.azad)
        }

        chart.updateSeries([{
            name: ' درصد کارت شخصی',
            data: yarane,
        },{
               name: ' درصد کارت جایگاه',
            data: azad,
        }

        ])

        chart.updateOptions({
            xaxis: {
                categories: tarikh
            },

        });
    });

    ending()
}
        var chart2 = new ApexCharts(document.querySelector("#top_10_zone_small"), options2);
        chart2.render();

function chartgo4(val) {
        $.getJSON('/chart/ticket_view/' + val + "/", function (response) {
            const tarikh = [];
            const yarane = [];

            const azad = [];
            for (obj in response.mylist) {
                const mlist = response.mylist[obj];
                tarikh.push(mlist.area)
                yarane.push(mlist.listMasterTicket)
                azad.push(mlist.storecount)
            }

            chart2.updateSeries([{
                name: ' تعداد تیکت',
                type: 'bar',
                data: yarane,
            }, {
                name: ' تعداد قطعه',
                type: 'line',
                data: azad,
            }

            ])

            chart2.updateOptions({
                xaxis: {
                    categories: tarikh
                },

            });
        });
}

function chartgo5(val) {

    $.getJSON('/chart/nesbat_view/'+val+"/", function (response) {
        const tarikh = [];
        const yarane = [];


        for (obj in response.mylist) {
            const mlist = response.mylist[obj];
            tarikh.push(mlist.area)
            yarane.push(mlist.listMasterTicket)
        }
        chart2.updateSeries([{
            name: 'درصد خرابی',
            type: 'bar',
            data: yarane,
        }
        ])
        chart2.updateOptions({
            xaxis: {
                categories: tarikh
            },

        });
    });

}
chartgo(1)
chartgo4(1)
</script>