<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div style="height: 220px" class="card-body">
                <h2 class="card-title mb-md-4 mb-lg-3">تعداد اینشیال انجام شده<a href="/ClosedTickets/?select=&select2=&organization=2&failure=1171&failure=1172&gsid=" class="badge badge-success">مشاهده</a></h2></h2>
                <div class="text-center">

                    <div style="font-size: 80px" class="font-weight-bold text-success" id="ok_init_id"></div>

                </div>
            </div>
        </div>
        </div>

    <div class="col-md-3">
        <div class="card">
            <div style="height: 220px" class="card-body">
                <h2 class="card-title mb-md-4 mb-lg-3">تعداد در صف اینشیال<a href="/CrudeTickets/?select=&select2=&organization=2&failure=1172&gsid=" class="badge badge-primary">مشاهده</a></h2></h2>
                <div class="text-center">

                    <div style="font-size: 80px" class="font-weight-bold text-primary" id="no_init_id"></div>

                </div>
            </div>
        </div>
        </div>

        <div class="col-md-3">
        <div class="card">
            <div style="height: 220px" class="card-body">
                <h2 class="card-title mb-md-4 mb-lg-3">دارای مشکل ارتباط<a href="/CrudeTickets/?select=&select2=&organization=1&failure=1172&gsid=" class="badge badge-danger">مشاهده</a></h2>
                <div class="text-center">
                    <div style="font-size: 80px" class="font-weight-bold text-danger" id="err_init_id"></div>

                </div>
            </div>
        </div>
        </div>

    <div class="col-md-3">
        <div class="card">
            <div style="height: 220px" class="card-body">
                <h2 class="card-title mb-md-4 mb-lg-3">مجموع تیکت ها</h2>
                <div class="text-center">

                    <div style="font-size: 80px" class="font-weight-bold text-warning" id="sum_id"></div>

                </div>
            </div>
        </div>
    </div>
</div>