<div class="col-md-12">
    <div id="big_nemodar_area" class="card">
        <div class="card-body">
            <h6 class="card-title d-flex justify-content-between">
                <span>نمودار مغایرت های IPC</span>

                <span class="dropdown primary-font">
                                            <a class="pl-2 pr-2" data-toggle="modal" data-target="#zomchart_ipclog"
                                               aria-haspopup="true"
                                               aria-expanded="false">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>

                                        </span></h6>
            <div id="chart_ipclog"></div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="zomchart_ipclog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">نمودار مغایرت های IPC</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="chart_ipclog_big"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن
                </button>

            </div>
        </div>
    </div>
</div>