
    <div class="col-md-12">


        <div  id="big_nemodar_nosell" class="card">
            <div class="card-body">
                <h6 class="card-title d-flex align-items-start justify-content-between mb-0">

                            <span>فروش های ثبت نشده در سی روز گذشته
                           </span>
                    <span class="dropdown primary-font">

                                           <i onclick="document.getElementById('big_nemodar_nosell').requestFullscreen()" class="fa fa-search-plus"
               aria-hidden="true"></i>
                                            </a>
{#											<span class="dropdown-menu dropdown-menu-right">#}
{#                                                <a href="?n=area" class="dropdown-item">ده منطقه دارای بیشترین تیکت</a>#}
{#                                                <a href="?n=tek" class="dropdown-item">ده ناحیه دارای بیشترین تیکت</a>#}
{#                                                <a href="?n=gs" class="dropdown-item">ده جایگاه دارای بیشترین تیکت</a>#}
{##}
{#                                            </span>#}
                                        </span>
                </h6>
                <div id="zone_nosell"></div>
            </div>
        </div>
    </div>
