{% if request.user.owner.role.role in 'mgr,setad' %}
    <div class="col-lg-12">
{% else %}
    <div  class="col-lg-12">
{% endif %}
<div id="big_nemodar_owner" class="card">
    <div class="card-body">
        <h6 class="card-title d-flex justify-content-between">
            <select onclick="chartrow(this.value)" class="form-control" name="itemoption" id="itemoption_id">
                    <option value="1"> فروش فرآورده بنزین معمولی</option>
                    <option value="2"> فروش فرآورده بنزین سوپر</option>
                    <option value="3"> فروش فرآورده نفتگاز</option>
                    <option value="4"> فروش فرآورده بنزین به تفکیک نرخ </option>
                    <option value="5"> فروش فرآورده نفتگاز به تفکیک نرخ </option>
                    <option value="6"> درصد فروش بنزین  به تفکیک نوع کارت </option>
                    <option value="7"> درصد فروش نفتگاز  به تفکیک نوع کارت </option>
                </select>
             <span class="dropdown primary-font">
                                            <a class="pl-2 pr-2"
                                               aria-haspopup="true"
                                               aria-expanded="false">
                                                <i class="fa fa-refresh" aria-hidden="true"></i>
                                            </a>

                                        </span>                        </h6>

        <div id="chart99"></div>
    </div>
</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="zomsell_nerkh_small" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
{#                <h6 class="modal-title">نمودار درصد فروش به تفکیک نرخ</h6>#}
                <select name="itemoption" id="itemoption_id">
                    <option value="1">گزارش فروش 15 روزه فرآورده بنزین معمولی</option>
                    <option value="2">گزارش فروش 15 روزه فرآورده بنزین سوپر</option>
                    <option value="3">گزارش فروش 15 روزه فرآورده نفتگاز</option>
                    <option value="4">گزارش فروش 30 روزه فرآورده بنزین به تفکیک نرخ </option>
                    <option value="5">گزارش فروش 30 روزه فرآورده نفتگاز به تفکیک نرخ </option>
                </select>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="sell_nerkh_small_big"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن
                </button>

            </div>
        </div>
    </div>
</div>
{% include 'dashboard/setad/apiscript.html' %}