{% if request.user.owner.role.role in 'mgr,setad' %}
<div class="col-lg-6">
    {% else %}
    <div class="col-lg-12">
    {% endif %}

            <div id="big_nemodar_cart"  class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h6 class="card-title d-flex justify-content-between">
                            <span>  نمودار درصد فروش به تفکیک کارت شخصی و کارت اضطراری</span>
                                                  <span class="dropdown primary-font">
                                            <a class="pl-2 pr-2" data-toggle="modal" data-target="#zomsell_cards_small"
                                               aria-haspopup="true"
                                               aria-expanded="false">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>

                                        </span>
                        </h6>
                        <div id="sell_cards_small"></div>
                    </div>
                </div>
            </div>
        </div>

   <div class="modal fade" tabindex="-1" role="dialog" id="zomsell_cards_small" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">نمودار درصد فروش به تفکیک کارت شخصی و کارت اضطراری</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="sell_cards_small_big"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن
                </button>

            </div>
        </div>
    </div>
</div>