{#ناپایداری لیت #}


        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title d-md-flex justify-content-between">
                        <span class="d-block"> لیست تیکت های معوق</span>


                    </h6>
                {% for item in dashboardzone.statusmoavagh %}
                    <input type="hidden" id="msg{{ item.id }}" value="{{ item.info }}">
                                                        {% endfor %}
                    <div class="row">

                        <div class="col-lg-12 col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <caption style="display: none">تیکت های معوق</caption>
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">شماره تیکت</th>
                                        <th scope="col">نام جایگاه</th>
                                        <th scope="col" class="text-center"> GSID</th>
                                        <th scope="col" class="text-center">شرح تیکت</th>
                                        <th scope="col" class="text-center"> شماره نازل</th>
                                        <th scope="col" class="text-center">ارجاع به</th>
                                        <th scope="col" class="text-center">تاریخ ایجاد</th>
                                        <th scope="col" class="text-center">علت بسته نشدن</th>
                                        <th scope="col" class="text-center">...</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in dashboardzone.sla %}
                                        <tr id="tr{{ item.id }}">
                                            <td>

                                                <button style="color: #f6fdf7"
                                                        onclick="Getwork({{ item.id }},0,0,'{{ item.rnd }}')"
                                                        class="btn nav-link bg-secondary-bright"
                                                        title="بررسی تیکت" data-toggle="modal"
                                                        data-target="#workflowModal"><i data-feather="eye"
                                                                                        aria-hidden="true"></i>
                                                </button>
                                            </td>
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.gs.name }}</td>
                                            <td>{{ item.gs.gsid }}</td>
                                            <td class="text-center">{{ item.failure.info }}</td>
                                            <td class="text-center">{{ item.Pump.number }}</td>
                                            <td class="text-center">{{ item.organization.name }}</td>
                                            <td class="text-center">{{ item.pdate }}</td>
                                            <td>
                                                <select onchange="showmsg(this.value)" name="statusm" id="id_statusm{{ item.id }}" class="form-control">
                                                <option value="0">یک علت از لیست انتخاب کنید</option>
                                                    {% for item in dashboardzone.statusmoavagh %}
                                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                                        {% endfor %}
                                                </select>
                                            </td><td>
                                            <button onclick="sla({{ item.id }},document.getElementById('id_statusm'+{{ item.id }}).value)" class="btn btn-success">ذخیره</button>
                                            </td>




                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>
    function showmsg(val){
        alarm("info",document.getElementById('msg'+val).value)

    }
</script>