<div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title d-flex align-items-start justify-content-between mb-0">
                            <span>تیکت های بررسی شده روز جاری</span>
                            <span class="avatar">
                                            <span class="avatar-title bg-success text-white rounded-circle">
                                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                            </span>
                                        </span>
                        </h6>
                        <div class="d-flex d-sm-block d-lg-flex align-items-end mb-3">
                            <h3 id="closeticket" class="mb-0 mr-2 line-height-28">{{ dashboardzone.closeticket }}</h3>
                            <p class="small text-muted mb-0 line-height-20">
                                <a href="/ClosedTickets/?select={{ today_date }}&select2={{ today_date }}" class="text-success" dir="ltr"> مشاهده</a>
                            </p>
                        </div>

                        <canvas id="ticket_is_check_small"></canvas>
                    </div>
                </div>
            </div>
