<div class="row">
    <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12">
        <div class="card border mb-3">
            <div class="card-body p-3">
                <div class="d-flex align-items-center">
                    <a href="/CrudeTickets/?organization=3" title="مشاهده لیست تیکت ها"
                       data-toggle="tooltip">
                        <div class="icon-block mr-2 icon-block-xs icon-block-outline-success text-success">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div>
                        <h6 class="text-uppercase font-size-11 mt-1 mb-1">  تست
                            وراه اندازی</h6>
                        <h4 id="counttest" class="mb-0">{{ dashboardzone.count_test }} <span><small>تیکت</small></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12">
        <div class="card border mb-3">
            <div class="card-body p-3">
                <div class="d-flex align-items-center">
                    <a href="/CrudeTickets/?organization=2" title="مشاهده لیست تیکت ها"
                       data-toggle="tooltip">
                        <div class="icon-block mr-2 icon-block-xs icon-block-outline-warning  text-warning">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div>
                        <h6 class="text-uppercase font-size-11 mt-1 mb-1">
                            خدمات فنی</h6>
                        <h4 id="countfani" class="mb-0">{{ dashboardzone.count_fani }} <span><small>تیکت</small></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12">
        <div class="card border mb-3">
            <div class="card-body p-3">
                <div class="d-flex align-items-center">
                    <a href="/CrudeTickets/?organization=1" title="مشاهده لیست تیکت ها"
                       data-toggle="tooltip">
                        <div class="icon-block mr-2 icon-block-xs icon-block-outline-primary text-primary">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div>
                        <h6 class="text-uppercase font-size-11 mt-1 mb-1">
                            پشتیبان </h6>
                        <h4 id="counttek" class="mb-0">{{ dashboardzone.count_tek }} <span><small>تیکت</small></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12">
        <div class="card border mb-3">
            <div class="card-body p-3">
                <div class="d-flex align-items-center">
                    <a href="/CrudeTickets/?organization=4" title="مشاهده لیست تیکت ها"
                       data-toggle="tooltip">
                        <div class="icon-block mr-2 icon-block-xs icon-block-outline-danger text-danger">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div>
                        <h6 class="text-uppercase font-size-11 mt-1 mb-1">
                            مهندسی </h6>
                        <h4 id="countengin" class="mb-0">{{ dashboardzone.count_engin }} <span><small>تیکت</small></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12">
        <div class="card border mb-3">
            <div class="card-body p-3">
                <div class="d-flex align-items-center">
                    <a href="/CrudeTickets/?organization=7" title="مشاهده لیست تیکت ها"
                       data-toggle="tooltip">
                        <div class="icon-block mr-2 icon-block-xs icon-block-outline-dark text-dark">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div>
                        <h6 class="text-uppercase font-size-11 mt-1 mb-1">
                            ناحیه  </h6>
                        <h4 id="countengin" class="mb-0">{{ dashboardzone.count_area }} <span><small>تیکت</small></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12">
        <div class="card border mb-3">
            <div class="card-body p-3">
                <div class="d-flex align-items-center">
                    <a href="/CrudeTickets/?organization=8" title="مشاهده لیست تیکت ها"
                       data-toggle="tooltip">
                        <div class="icon-block mr-2 icon-block-xs icon-block-outline-info text-info">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div>
                        <h6 class="text-uppercase font-size-11 mt-1 mb-1">
                            جایگاه  </h6>
                        <h4 id="countengin" class="mb-0">{{ dashboardzone.count_gs }} <span><small>تیکت</small></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>