    <div class="col-md-4">
        <div  class="card">
            <div class="card-body">
                <h6 class="card-title d-flex align-items-start justify-content-between mb-0">

                    <span>ده جایگاه دارای بیشترین تیکت</span>
                    <span class="dropdown primary-font">
                                            <a class="pl-2 pr-2" data-toggle="modal" data-target="#zommrep3"
                                               aria-haspopup="true"
                                               aria-expanded="false">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>

                                        </span>
                </h6>
                <div id="top_10_gs_small"></div>
            </div>
        </div>
    </div>
<div class="modal fade" tabindex="-1" role="dialog" id="zommrep3" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">ده جایگاه دارای بیشترین تیکت</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="top_10_gs_big"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن
                </button>

            </div>
        </div>
    </div>
</div>