{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block css %}

    <style>
        thead,
        tfoot {
            background-color: #3f87a6;
            color: #fff;
        }
    </style>


{% endblock %}
{% block context %}
    <link type="text/css" rel="stylesheet" href="{% static 'assets/css/jalalidatepicker.min.css' %} "/>
    <script type="text/javascript" src="{% static 'assets/js/jalalidatepicker.min.js' %}"></script>
    {% include 'message.html' %}


    <div class="card">
        <div class="card-body">

            <ul class="nav">
                <div class="row">

                    <div class="col-12">
                        <h3 class="c-center c-font-uppercase c-font-bold">رویداد کاربران
                        </h3>
                        <a class="btn btn-success" href="{% url 'accounts:usergroupnemodar' %}">نمودار</a>
                        <hr>
                    </div>
                </div>
            </ul>
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">

                        <select name="select3" onclick="$(this).select()"

                                class="select2-example form-control">
                            <option value="0">همه</option>
                            {% for gs in gss %}
                                <option {% if gs.id == ownerid %} selected {% endif %} value="{{ gs.id }}"
                                >{{ gs.name }} {{ gs.lname }} ( {{ gs.role.name }} - {{ gs.refrence.name }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <input required data-jdp type="text" name="select" id="select" value="{{ az }}"
                               class="form-control" placeholder="تاریخ" autocomplete="off">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <input required data-jdp type="text" name="select2" id="select2" value="{{ ta }}"
                               class="form-control" placeholder="تاریخ" autocomplete="off">
                    </div>
                     <div class="col-lg-2 col-md-2 col-sm-12">
                        <input type="text" name="search" id="search"
                               class="form-control" placeholder="شرح" autocomplete="off">
                    </div>
                
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <button type="submit" class="btn btn-warning c-btn-uppercase">گزارش</button>
                    </div>
            </form>

        </div>
    </div>
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table id="tab1" class="table align-items-center mb-0">
                            <caption style="display: none">گزارش رویداد های کاربران</caption>
                            <tr>
                                <th scope="col">#</th>
                                <th class="align-middle text-center text-sm" scope="col">نام کاربر</th>
                                <th class="align-middle text-center text-sm" scope="col">تاریخ</th>
                                <th class="align-middle text-center text-sm" scope="col"> عملیات</th>
                                {% if request.user.owner.role.role == 'mgr' %}
                                <th class="align-middle text-center text-sm" scope="col"> ip address</th>
                                    <th class="align-middle text-center text-sm" scope="col"> system name</th>
                                {% endif %}


                            </tr>


                            <tbody>
                            {% for lists in list %}
                                <tr>
                                    <th class="align-middle text-center text-sm"
                                        scope="row">{{ forloop.counter }}</th>
                                    <td class="align-middle text-center text-sm">{{ lists.owner.name }} {{ lists.owner.lname }}</td>
                                    <td class="align-middle text-center text-sm">{{ lists.pdate }}</td>
                                    <td class="align-middle text-center text-sm">{{ lists.parametr1 }}</td>
                                    {% if request.user.owner.role.role == 'mgr' %}
                                    <td class="align-middle text-center text-sm">{{ lists.parametr2 }}</td>
                                    <td class="align-middle text-center text-sm">{{ lists.macaddress }}</td>
                                {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>


                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block script %}


    <script>
        jalaliDatepicker.startWatch();
        $('.select2-example').select2({
            placeholder: 'Select'
        });
    </script>

{% endblock %}