<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
<script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
<script>

 $(document).ready(function () {
     var stid= document.getElementById('st_id').value
     var name= document.getElementById('name_id').value
     var zone= document.getElementById('zone_id').value
     var area= document.getElementById('area_id').value
     var address= document.getElementById('address_id').value
     var statuspan= document.getElementById('statuspan_id').value
     var location= document.getElementById('location_id').value
     var arealat= document.getElementById('arealat_id').value
     var arealong= document.getElementById('arealong_id').value
     var areaaddress= document.getElementById('areaaddress_id').value

{#getCaptchaService()#}
     history.replaceState("", "", "/cart/SearchCard/");
if (stid==='1') {
    if (statuspan === '1'){
        swal.fire({
            title: "کارت سوخت شما در جایگاه: " + name + ' جامانده است |  منطقه : ' + zone + ' ، ناحیه : ' + area,
            text: "آدرس جایگاه : " + address,
            icon: "success",
            showCancelButton: true,
            confirmButtonText: "مشاهده آدرس جایگاه روی نقشه",
            cancelButtonText: "بستن",
            footer: '<h6 class="text-warning"> ارائه مدارک مالک و خودرو جهت دریافت کارت سوخت الزامی میباشد  </h6> ',

            dangerMode: true
        })
            .then((result) => {
                if (result.isConfirmed) {
                    if(location.length>6){
                    var a = document.createElement('a');
                    a.target = "_blank";
                    a.href = "https://www.google.com/maps/place/" + location + "?entry=ttu";

                    a.click();
                }else {alert('آدرس جغرافیایی این جایگاه هنوز در سامانه ثبت نشده است')}}
            });
}
    if (statuspan === '2'){
        swal.fire({
            title: "کارت سوخت شما در شرکت نفت ناحیه: " + area + ' | منطقه : '+ zone +' میباشد ' ,
            text: "آدرس ناحیه : " + areaaddress,
            icon: "success",
            showCancelButton: true,
            denyButtonText: `Don't save`,
            confirmButtonText: "مشاهده آدرس ناحیه روی نقشه",
            cancelButtonText: "بستن",
            buttons: {
                confirm: 'مشاهده آدرس ناحیه روی نقشه',
                cancel: 'بستن'
            },
            footer: '<h3 class="text-primary"> کارت شما در جایگاه ' + name + ' جا مانده بود </h3> ' + '<span>ارائه مدارک مالک و خودرو جهت دریافت کارت سوخت الزامی میباشد</span>',
            dangerMode: false
        })
            .then((result) => {
                if (result.isConfirmed) {
                    if(arealat.length>6){
                    var a = document.createElement('a');
                    a.target = "_blank";
                    a.href = "https://www.google.com/maps/place/" + arealat+','+arealong + "?entry=ttu";

                    a.click();
                }else {alert('آدرس جغرافیایی این ناحیه هنوز در سامانه ثبت نشده است')}}
            });
}
}
 if (stid === '2'){
        swal.fire({
            title:"کارت سوخت شما در باجه معطله اداره پست میباشد" ,
            text: " شماره مرسوله پست جهت پیگیری : {{ carts.barcode }}"  ,
            icon: "success",
            showCancelButton: true,
            denyButtonText: `Don't save`,
            confirmButtonText: "پیگیری مرسوله از پست",
            cancelButtonText: "بستن",
            footer:"<strong class='text-success'>لطفا بعد از رهگیری کارت سوخت در سایت شرکت ملی پست  با در دست داشتن شماره مرسوله و مدارک مالکیت خودرو و کارت ملی مالک ، به آدرس شرکت پست مربوطه مراجعه بفرمایید </strong>",
            dangerMode: false
        })
            .then((result) => {
                 if (result.isConfirmed) {
                     var a = document.createElement('a');
                     a.target = "_blank";
                     a.href = "https://tracking.post.ir/Search.aspx?id={{ carts.barcode }}";
                     a.click();
                 }
            });
}

if (stid==='4') {
    swal.fire({
        title: "کارت سوخت یافت نشده",
        text: "میتوانید برای درخواست کارت سوخت المثنی به دفاتر پلیس +10 یا سایت fcs.niopdc.ir مراجعه بفرمایید. ",
        icon: "error",
        showCancelButton: true,
           confirmButtonText: "سایت اینترنتی درخواست کارت سوخت",
            cancelButtonText: "بستن",
        footer: "<strong class='text-danger'> ارائه مدارک احراز مالکیت  ( اصل برگ سبز  ، کارت خودرو ، بیمه نامه و اصل کارت ملی) و حضور مالک  برای درخواست المثنی الزامی میباشد  </strong>",
        dangerMode: true

    })
        .then((result) => {
            if (result.isConfirmed) {
                var a = document.createElement('a');
                a.target = "_blank";
                a.href = "https://fcs.niopdc.ir";
                a.click();
            }

        });
}})
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>سامانه رهگیری کارت سوخت</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/media/image/logo-sm.png' %}">

    <!-- Plugin styles -->
    <link rel="stylesheet" href="{% static 'vendors/bundle.css' %}">

    <!-- App styles -->
    <link rel="stylesheet" href="{% static 'assets/css/appv1.css' %}">
</head>
<body class="form-membership">

<!-- begin::preloader-->

<!-- end::preloader -->

<div class="form-wrapper">
    <input id="st_id" type="hidden" value="{{ status }}">
    <input id="name_id" type="hidden" value="{{ carts.gs.name }}">
    <input id="location_id" type="hidden" value="{{ carts.gs.location }}">
    <input id="zone_id" type="hidden" value="{{ carts.gs.area.zone.name }}">
    <input id="area_id" type="hidden" value="{{ carts.gs.area.name }}">
    <input id="areaaddress_id" type="hidden" value="{{ carts.gs.area.address|default_if_none:'ثبت نشده' }}">
    <input id="arealat_id" type="hidden" value="{{ carts.gs.area.lat }}">
    <input id="arealong_id" type="hidden" value="{{ carts.gs.area.long }}">
    <input id="address_id" type="hidden" value="{{ carts.gs.address|default_if_none:'ثبت نشده'  }}">
    <input id="statuspan_id" type="hidden" value="{{ carts.statuspan_id }}">
{% include 'message.html' %}
    <!-- logo -->
    <div id="logo">
        <img class="logo" src="{% static 'assets/media/image/arm.jpg' %}" alt="image">
        <img class="logo-dark" src="{% static 'assets/media/image/logo-sm.png' %}" alt="image">
    </div>
    <!-- ./ logo -->
    <!-- ./ logo -->
    <br>
    <span style="font-size: 18px">((سامانه کارت سوخت جامانده))</span>
    <br>
    <br>



{#  {% if carts %}#}
{#    <div id="services" class="card">#}
{#        <card style="border: #7c1a03; background: #fffafa" class="card-body">#}
{##}
{#            {% if status == 1 %}#}
{#                <span class="text-success fa fa-circle mr-2"></span>#}
{#                {% if carts.statuspan_id == 1 %} کارت سوخت در  {{ carts.gs.name }}  {{ carts.gs.area.name }} / {{ carts.gs.area.zone.name }} میباشد#}
{#                    <hr>#}
{#                    <span class="text-warning fa fa-circle mr-2"></span>#}
{#                    آدرس جایگاه : {{ carts.gs.address }} {% if carts.gs.phone %} ({{ carts.gs.phone }}){% endif %}#}
{#                    <span class="small ml-auto"></span>#}
{##}
{#                {% endif %}#}
{#                {% if carts.statuspan_id == 2 %} کارت سوخت در شرکت نفت ناحیه  {{ carts.gs.area.name }} / {{ carts.gs.area.zone.name }} میباشد#}
{#                {% endif %}#}
{#                {% if carts.statuspan_id == 3 %} کارت سوخت در شرکت ملی پخش فرآورده های نفتی ایران ، منطقه#}
{#                    {{ carts.gs.area.zone.name }} میباشد {% endif %}#}
{#                {% if carts.statuspan_id == 4 %} کارت سوخت بعلت عدم دریافت امحا شد    {% endif %}#}
{#                <span class="small ml-auto"></span>#}
{#            {% endif %}#}
{#            {% if status == 2 %}#}
{#                <span class="text-success fa fa-circle mr-2"></span>#}
{#                <l5>کارت سوخت شما در باجه معطله اداره پست میباشد</l5>#}
{#                    <hr>#}
{#                    <span class="text-warning fa fa-circle mr-2"></span>#}
{#                <label>شماره مرسوله پست جهت پیگیری</label>#}
{#                <input id="barcode" disabled value="{{ carts.barcode }}"><button onclick="Copy()" class="btn btn-outline-success text-center">کپی مرسوله</button>#}
{##}
{#                    <span class="small ml-auto"></span>#}
{#                <br>#}
{#                <br>#}
{#                 <a class="btn btn-outline-success text-center" href="https://tracking.post.ir/Search.aspx?id={{ carts.barcode }}" >تارنمای شرکت پست جهت پیگیری کارت</a>#}
{#                {% endif %}#}
{##}
{##}
{#    <!-- form --><a>#}

</a>
   <form action="" method="post">
       {% csrf_token %}
        <input style="font-size: 20px" maxlength="17" minlength="16" type="text" id="id_search" name="search" class="form-control text-center"
               placeholder="جستجوی شماره PAN یا VIN"
               aria-describedby="button-addon1" required>
<label for="">
                                <div>

                                   {% include 'captcha.html' %}

                            </label>

        <div class="input-group-append">
            <div class="col-4"></div>
            <button href="#services" class="btn btn-outline-light text-center" type="submit" id="button-addon1">جستجو
                <i data-feather="search" aria-hidden="true"></i>
            </button>
        </div>
    </form>
    <br>
<div class="alert alert-info alert-with-border" role="alert">
            <p>شماره VIN در <strong> کارت خودرو </strong> وجود دارد.</p>
    <p>شماره PAN از <strong>دفاتر پلیس +10</strong> قابل دریافت است.</p>
     </div>


                <hr>

                <small> شماره تماس مرکز پاسخگویی : 09627</small>


    <!-- Plugin scripts -->

    <script src="{% static 'vendors/bundlev1.js' %}"></script>

    <!-- App scripts -->
{#    <script src="{% static 'assets/js/app.js' %}"></script>#}
    <script src="{% static 'assets/js/errorv2.js' %}"></script>
{#    <script src="{% static 'assets/js/sweetalert2.js' %}"></script>#}
<script src="{% static 'assets/js/sweetalert2.js' %}"></script>
{#<script src="https://gitcdn.ir/library/sweetalert2/11.10.1/sweetalert2.js"></script>#}
<script>
function Copy() {
var copyText = document.createElement("input");

copyText.value = document.getElementById("barcode").value;
document.body.appendChild(copyText);

copyText.select();
copyText.setSelectionRange(0, 99999); /*For mobile devices*/
document.execCommand("copy");
copyText.style="display:none";
alarm('info','شماره بار کد کپی شد')
}
</script>
</div>
</body>
</html>