{% extends 'base.html' %}
{% load static %}
{% block context %}
    <link rel="stylesheet" href="{% static 'vendors/select2/css/select2.min.css' %}" type="text/css">

    {% include 'message.html' %}



    <div class="card">
    <h3>  انتخاب جایگاه های {{ name }}</h3>


    {% csrf_token %}

<div class="row">

    <div  class="card-body col-lg-5 col-sm-5">
<form action="" method="get">
 <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">در کادر جستجو بعد از وارد کردن GSID یکبار اینتر بزنید!</h4>
    </div>
    <input required type="text" name="search" id="id_search" class="form-control search-input" placeholder="جستجوی جایگاه">
<input type="submit" class="btn btn-primary" hidden>
</form>
        <hr>
    <div class="table-responsive">
        <table style="border: #0b0b0b" id="myTable" class="table table-striped">
         <caption style="display: none">لیست جایگه ها</caption>
            <thead class="thead-danger">
            <tr>

                <th class="text-center" scope="col"><input type="checkbox" id="check_all"></th>
                <th scope="col">GSID</th>
                <th scope="col">نام جایگاه</th>
                 <th scope="col"  class="text-center">ناحیه</th>



            </tr>
            </thead>
            <tbody>
            {% for g in gs %}
                <tr id="tr{{ g.id }}">
                    <td class="align-middle text-center text-sm"><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            data-id="{{ g.id }}">
                    <td>{{ g.gsid }}</td>
                    <td>{{ g.name }}</td>
                    <td class="align-middle text-center text-sm"> {{ g.area.name }} | {{ g.area.zone.name }}</td>


                    </td>


                </tr>
            {% endfor %}
            </tfoot>
        </table>
    </div>
    </div>
<div class="card-body col-lg-2 col-sm-2">

    <br>
    <br>

    <br>
 <ul class="nav">
        <li class="nav-item">
            <a onclick="AddRow()" class="btn nav-link bg-primary-bright" title="اضافه به لیست مشاهده"
               data-toggle="tooltip">
                <i data-feather="arrow-left-circle" aria-hidden="true"></i>
            </a>
        </li>
 </ul>
     &nbsp
 <ul class="nav">
        <li class="nav-item">
            <a onclick="RemoveRow()" class="btn nav-link bg-danger-bright" title="حذف از لیست"
               data-toggle="tooltip">
                <i data-feather="arrow-right-circle" aria-hidden="true"></i>
            </a>
        </li>
 </ul>
</div>
 <div class="card-body col-lg-5 col-sm-5">
    <h6>لیست جایگاه های انتخاب شده <span id="countgs">({{ gslist.count }}مورد)</span></h6>

    <div class="table-responsive">
        <table style="border: #0b0b0b" id="mytab2" class="table table-striped">
         <caption style="display: none">لیست جایگها های انتخابی</caption>
            <thead class="thead-primery">
            <tr>

                <th class="text-center" scope="col"><input type="checkbox" id="check_alldel"></th>
                <th scope="col">GSID</th>
                <th scope="col">نام جایگاه</th>
                 <th scope="col"  class="text-center">ناحیه | منطقه</th>



            </tr>

            </thead>
            <tbody>
            <input type="hidden" id="userId" value="{{ userID }}">
            {% for g in gslist %}
                <tr id="tr{{ g.id }}">
                    <td class="align-middle text-center text-sm"><input type="checkbox"
                                                                                            class="checkbox1"
                                                                                            data-id="{{ g.id }}">
                    <td>{{ g.gs.gsid }}</td>
                    <td>{{ g.gs.name }}</td>
                    <td> {{ g.gs.area.name }} | {{ g.gs.area.zone.name }}</td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
<hr>


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div></div>

{% endblock %}
{% block script %}
    <script src="{% static 'assets/js/examples/datatable.js' %}"></script>
    {#    <script src="{% static 'vendors/dataTable/jquery.dataTables.min.js' %}"></script>#}
<script src="{% static 'vendors/select2/js/select2.min.js' %}"></script>
    <!-- Bootstrap 4 and responsive compatibility -->
    <script src="{% static 'vendors/dataTable/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/dataTable/dataTables.responsive.min.js' %}"></script>
    {% include 'script_main2.html' %}

    <script>
        $('.select2-example').select2({
            placeholder: 'Select'
        });
        $('.select3-example').select2({
            placeholder: 'Select'
        });
        $('.select4-example').select2({
            placeholder: 'Select'
        });
        $('.select5-example').select2({
            placeholder: 'Select'
        });
        $('.select6-example').select2({
            placeholder: 'Select'
        });
        $('.select7-example').select2({
            placeholder: 'Select'
        });

        function getFilter() {
            document.getElementById('FilterCard').style.display = "block";
        }

        function FilterCardClose() {
            document.getElementById('FilterCard').style.display = "none";
        }

        function FilterCardCloseform() {
            document.getElementById('FilterCard').style.display = "none";
        }


        $(document).ready(function () {


                      $('#id_search').keyup(function(){

                          var search = $(this).val();

    // Hide all table tbody rows
    $('#myTable tbody tr').hide();

    // Count total search result
    var len = $('#myTable tbody tr:not(.notfound) td:contains("'+search+'")').length;

    if(len > 0){
      // Searching text in columns and show match row
      $('#myTable tbody tr:not(.notfound) td:contains("'+search+'")').each(function(){
        $(this).closest('tr').show();
      });
    }else{
      $('.notfound').show();
    }

  });
        });



            $('#check_all').on('click', function () {

                if ($(this).is(":checked", true)) {
                    $('.checkbox').prop('checked', true);
                } else {
                    $('.checkbox').prop('checked', false);
                }
            });
            $('.checkbox').on('click', function () {
                if ($('.checkbox:checked').length == $('.checkbox').length) {
                    $('#check_all').prop('checked', true)
                } else {
                    $('#check_all').prop('checked', false)
                }
            })
 $('#check_alldel').on('click', function () {

                if ($(this).is(":checked", true)) {
                    $('.checkbox1').prop('checked', true);
                } else {
                    $('.checkbox1').prop('checked', false);
                }
            });
            $('.checkbox1').on('click', function () {
                if ($('.checkbox1:checked').length == $('.checkbox1').length) {
                    $('#check_alldel').prop('checked', true)
                } else {
                    $('#check_alldel').prop('checked', false)
                }
            })
    </script>
{% endblock %}
