{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block css %}

    <style>
        thead,
        tfoot {
            background-color: #3f87a6;
            color: #fff;
        }
    </style>

{% endblock %}
{% block context %}
    <script src="{% static 'assets/js/tableToExcel.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'assets/css/jalalidatepicker.min.css' %} "/>
    <script type="text/javascript" src="{% static 'assets/js/jalalidatepicker.min.js' %}"></script>
    {% include 'message.html' %}
    <div class="col-lg-12 col-md-12 col-sm-12">

    <div class="card">
        <div class="card-body">

            <ul class="nav">
                <div class="row">
                    <div class="container">
                        <div class="col-12">
                            <h3 class="c-center c-font-uppercase c-font-bold"> گزارش فروش منطقه
                            </h3>
                            <form action="" method="post">
                                {% csrf_token %}

                                <hr>
                                <label> نام منطقه
                                    <select name="zone"

                                            class="select2-example" id="id_label_single"
                                            data-check="1-318">
                                        <option value="0">همه</option>
                                        {% for item in zone %}
                                            <option{% if zoneid == item.id %} selected {% endif %} value="{{ item.id }}"
                                            >{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                {% if request.user.owner.role.role == 'zone' %}
                                    <label> انتخاب ناحیه
                                        <select name="area" onchange="cityinarea(this.value)"

                                                class="select2-example" id="id_area"
                                                data-check="1-318">
                                            <option {% if areaid == 0 %} selected {% endif %} value="0">کل منطقه
                                            </option>
                                            <option {% if areaid == 1 %} selected {% endif %} value="1"> همه نواحی
                                            </option>
                                            {% for item in area %}
                                                <option{% if areaid == item.id %} selected {% endif %}
                                                                                  value="{{ item.id }}"
                                                >{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>

                                {% endif %}
                                {% if request.user.owner.role.role in 'zone,area' %}
                                    <label> انتخاب شهرستان
                                        <select name="city"

                                                class="select2-example" id="id_city"
                                                data-check="1-318">
                                            <option value="0">همه</option>
                                            {% for item in city %}
                                                <option{% if cityid == item.id %} selected {% endif %}
                                                                                  value="{{ item.id }}"
                                                >{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                {% endif %}
                                <label> نام فرآورده

                                    <select name="select4" onclick="$(this).select()"

                                            class="js-example-basic-single js-states form-control" id="id_label_single"
                                            data-check="1-318">
                                        {% for item in product %}
                                            <option{% if far == item.id %} selected {% endif %} value="{{ item.id }}"
                                            >{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label>نوع گزارش
                                    <select name="select5" onclick="$(this).select()"

                                            class="js-example-basic-single js-states form-control" id="id_label_single2"
                                            data-check="1-318">
                                        <option {% if statuscode == 1 %}selected{% endif %} value="1">تجمعی</option>
                                        <option {% if statuscode == 2 %}selected{% endif %} value="2">روزانه</option>
                                        <option {% if statuscode == 3 %}selected{% endif %} value="3"> درصد روزانه</option>

                                    </select>
                                </label>

                                <label>از تاریخ
                                    <input required data-jdp type="text" name="select" id="select" value="{{ az }}"
                                           class="form-control" placeholder="تاریخ" autocomplete="off">
                                </label>
                                <label>تا تاریخ
                                    <input required data-jdp type="text" name="select2" id="select2" value="{{ ta }}"
                                           class="form-control" placeholder="تاریخ" autocomplete="off">
                                </label>
                                <button type="submit" class="btn btn-warning c-btn-uppercase">گزارش</button>
                                <a onclick="exportToExcelWithBorders()" id="exportBtn1" style="color: #fffbff"
                                   class="btn nav-link bg-info" title="ارسال به اکسل "> <i data-feather="send"
                                                                                           aria-hidden="true"></i>ارسال
                                    به اکسل</a>


                            </form>
                        </div>
                    </div>
                </div>
            </ul>

            <div class="row">
                <div class="col-lg-12">
                    <div id="responsive" class="table-responsive">
                        <table id="tab1" class="table align-items-center mb-0 overflow-auto">
                            <caption style="display: none">گزارش فروش</caption>
                            <tr>
                                <th scope="col">#</th>
                                <th class="align-middle text-center text-sm" scope="col">شرح</th>
                                {% if statuscode == 2 or statuscode == 3 %}
                                    <th class="align-middle text-center text-sm" scope="col">تاریخ</th> {% endif %}
                                <th class="align-middle text-center text-sm" scope="col"> فروش مکانیکی</th>
                                <th class="align-middle text-center text-sm" scope="col"> فروش الکترونیکی</th>
                                <th class="align-middle text-center text-sm" scope="col"> اختلاف فروش</th>
                                <th class="align-middle text-center text-sm" scope="col">نوع اختلاف</th>
                                <th class="align-middle text-center text-sm" scope="col"> فروش یارانه ایی</th>
                                <th class="align-middle text-center text-sm" scope="col"> نیمه یارانه ایی</th>
                                <th class="align-middle text-center text-sm" scope="col"> فروش آزاد شخصی</th>
                                <th class="align-middle text-center text-sm" scope="col"> فروش آزاد اضطراری</th>
                                <th class="align-middle text-center text-sm" scope="col"> فروش حواله</th>
                                <th class="align-middle text-center text-sm" scope="col"> فروش کنترل کیفی / کمی</th>


                            </tr>


                            <tbody>
                      {% for lists in list %}
    <tr>
        <th class="align-middle text-center text-sm"
            scope="row">{{ forloop.counter }}</th>
        <td class="align-middle text-center text-sm">
            {{ lists.gs__area__zone__name }}{{ lists.gs__area__name }}</td>
        {% if statuscode == 2 or statuscode == 3 %}
            <td class="align-middle text-center text-sm">{{ lists.tarikh }}</td>
        {% endif %}
        <td class="align-middle text-center text-sm">{{ lists.res|intcomma:False }}</td>
        <td class="align-middle text-center text-sm">{{ lists.sum_sellkol|intcomma:False }}</td>


            <!-- نمایش اختلاف فقط برای حالت‌های غیر درصدی -->
            <td class="align-middle text-center text-sm">{{ lists.sum_ekhtelaf|intcomma:False }}</td>
            <td class="align-middle text-center text-sm">
                {% if lists.res > lists.sum_sellkol %}
                    <span style="color: #ff261e;"> منفی </span>
                {% else %}
                    <span style="color: #1249ff;">مثبت</span>
                {% endif %}
            </td>


        {% if statuscode == 3 %}
            <!-- نمایش درصدها -->
            <td class="align-middle text-center text-sm">{{ lists.sum_yarane_percent }}%</td>
            <td class="align-middle text-center text-sm">{{ lists.sum_nimeyarane_percent }}%</td>
            <td class="align-middle text-center text-sm">{{ lists.sum_azad_percent }}%</td>
            <td class="align-middle text-center text-sm">{{ lists.sum_ezterari_percent }}%</td>
            <td class="align-middle text-center text-sm">{{ lists.sum_havaleh_percent }}%</td>
            <td class="align-middle text-center text-sm">{{ lists.sum_azmayesh_percent }}%</td>
        {% else %}
            <!-- نمایش مقادیر عادی -->
            <td class="align-middle text-center text-sm">{{ lists.sum_yarane|intcomma:False }}</td>
            <td class="align-middle text-center text-sm">{{ lists.sum_nimeyarane|intcomma:False }}</td>
            <td class="align-middle text-center text-sm">{{ lists.sum_azad|intcomma:False }}</td>
            <td class="align-middle text-center text-sm">{{ lists.sum_ezterari|intcomma:False }}</td>
            <td class="align-middle text-center text-sm">{{ lists.sum_havaleh|intcomma:False }}</td>
            <td class="align-middle text-center text-sm">{{ lists.sum_azmayesh|intcomma:False }}</td>
        {% endif %}
    </tr>
{% endfor %}
                            </tbody>
                    <tfoot>
    <tr style="background: #dbd9de; color: black">
        <th scope="col"></th>
        <th class="align-middle text-center text-sm" scope="col">جمع کل</th>
        {% if statuscode == 2 or statuscode == 3 %}
            <td></td>
        {% endif %}
        <td class="align-middle text-center text-sm"
        >{{ jam.sellall|intcomma:False }}</td>
        <td class="align-middle text-center text-sm"
        >{{ summer.sum_sellkollall|intcomma:False }}</td>

        {% if statuscode != 3 %}
            <td class="align-middle text-center text-sm"
            >{{ summer.sum_ekhtelafall|intcomma:False }} </td>
            <td></td>
        {% else %}
            <!-- برای حالت درصدی، سلول‌های اختلاف را خالی می‌گذاریم -->
            <td></td>
            <td></td>
        {% endif %}

        {% if statuscode == 3 %}
            <!-- نمایش میانگین درصدها -->
            <td class="align-middle text-center text-sm"
            >{{ summer.sum_yaraneall }}%</td>
            <td class="align-middle text-center text-sm"
            >{{ summer.sum_nimeyaraneall }}%</td>
            <td class="align-middle text-center text-sm"
            >{{ summer.sum_azadall }}%</td>
            <td class="align-middle text-center text-sm"
            >{{ summer.sum_ezterariall }}%</td>
            <td class="align-middle text-center text-sm"
            >{{ summer.sum_havalehall }}%</td>
            <td class="align-middle text-center text-sm"
            >{{ summer.sum_azmayeshall }}%</td>
        {% else %}
            <!-- نمایش مقادیر عادی -->
            <td class="align-middle text-center text-sm"
            >{{ summer.sum_yaraneall|intcomma:False }}</td>
            <td class="align-middle text-center text-sm"
            >{{ summer.sum_nimeyaraneall|intcomma:False }}</td>
            <td class="align-middle text-center text-sm"
            >{{ summer.sum_azadall|intcomma:False }}</td>
            <td class="align-middle text-center text-sm"
            >{{ summer.sum_ezterariall|intcomma:False }}</td>
            <td class="align-middle text-center text-sm"
            >{{ summer.sum_havalehall|intcomma:False }}</td>
            <td class="align-middle text-center text-sm"
            >{{ summer.sum_azmayeshall|intcomma:False }}</td>
        {% endif %}
    </tr>
</tfoot>
                        </table>


                    </div>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="col-md-12">
                <div id="big_nemodar_zone" class="card">
                    <div class="card-body">
                        <h6 class="card-title d-flex justify-content-between">
                            <span>نمودار فروش</span>
                            <span class="dropdown primary-font">
                                            <a class="pl-2 pr-2" data-toggle="modal" data-target="#zomchart_zone_gs"
                                               aria-haspopup="true"
                                               aria-expanded="false">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>

                                        </span>
                        </h6>
                        <div id="chart_nesbat"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'script_sell.html' %}
    <script src="{% static 'assets/js/apexcharts.js' %}"></script>
    <script>

        $('#btnid').click(function () {
            var x = document.getElementById("filter_id");
            if (window.getComputedStyle(x).display === "none") {

                document.getElementById('filter_id').style.display = 'block';

            } else {
                document.getElementById('filter_id').style.display = 'none';
            }
        });
        $('#btnid2').click(function () {

            document.getElementById('filter_id').style.display = 'none';
        });
    </script>

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            var box = document.getElementById('responsive');
            box.removeAttribute('style');
            box.style.width = 3;


        });
        jalaliDatepicker.startWatch();
        $('.select2-example').select2({
            placeholder: 'Select'
        });

        $("#exportBtn11").click(function () {

            TableToExcel.convert(document.getElementById("tab1"), {
                name: "sell.xlsx",
                sheet: {
                    name: "Sheet1"
                }
            });
        });


        function chart_nesbat() {
            if ($('#chart_nesbat').length > 0) {
                Apex.chart = {
                    fontFamily: 'inherit',
                    locales: [{
                        "name": "fa",
                    }],
                    defaultLocale: "fa"
                }
                var options = {
                    chart: {
                        height: 400,
                        type: 'bar',
                        toolbar: {
                            show: false
                        }
                    },
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    series: [{
                        name: ' ',
                        data: [
                            {% for item in list %} {{ item.sum_sellkol }} ,{% endfor %}]
                    }, {}],
                    xaxis: {
                        categories: [{% for item in list %} '{{ item.tarikh }}{{ item.gs__area__name }}' ,{% endfor %}]
                    },
                    fill: {
                        opacity: 1

                    },
                    tooltip: {
                        y: {
                            formatter: function (val) {
                                return val + "  لیتر  "
                            }
                        }
                    }
                };

                var chart = new ApexCharts(
                    document.querySelector("#chart_nesbat"),
                    options
                );

                chart.render();
            }
        }

        chart_nesbat();


    </script>
{% endblock %}