{% extends 'base.html' %}
{% load static %}

{% block context %}
    <script src="{% static 'assets/js/tableToExcel.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'assets/css/jalalidatepicker.min.css' %} "/>
    <script type="text/javascript" src="{% static 'assets/js/jalalidatepicker.min.js' %}"></script>
    <style>

    </style>

    {% include 'message.html' %}

    <div id="FilterCard" style="display: none" class="card">
        <div class="card-body text-center">
            <h4>فیلترها </h4>
        </div>
        <form action="">
            <hr class="m-0">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label for="zone">انتخاب مناطق </label>
                        <select name="zone" id="id_zone" class="select2-example" multiple>
                            {% for item in filter.form.zone %}
                                {{ item }}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label for="area">انتخاب نواحی </label>
                        <select name="area" id="id_area" class="select3-example" multiple>
                            {% for item in filter.form.area %}
                                {{ item }}
                            {% endfor %}
                        </select>
                    </div>


                </div>
                <div></div>
                <hr>
                <button style="color: #f3fdf3" id="FilterCardClose" onclick="FilterCardClose()" type="submit"
                        class="btn nav-link bg-warning"> نمایش نتایج
                </button>
                <a style="color: #f3fdf3" onclick="FilterCardCloseform()"
                   class="btn nav-link bg-dark-bright">بستن
                </a>
            </div>


        </form>
    </div>
    <div class="card">
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <label> نام جایگاه
                                <select name="select3" onclick="$(this).select()"

                                       class="select2-example"
                                        data-check="1-318">
                                {% if request.user.owner.role.role != 'gs' %}
                                    <option value="0">همه</option>
                                {% endif %}
                                    {% for gs in gss %}
                                        <option {% if gs.id == gsid %} selected {% endif %} value="{{ gs.id }}"
                                        >{{ gs.gsid }}-{{ gs.name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                  <label> &nbsp  شماره نازل (خالی یعنی همه نازل ها)<input  class="text-center form-control " value="{{ nazel }}" name="nazel"
                                                                 type="text"> </label>
                <label> &nbsp گزارش نازل های با مغایرت لیتراژ بالای <input required class="text-center form-control " value="{{ darsad }}" name="val"
                                                                 type="text">

                     </label>
                       <label> </label>
                       <label> </label>
                    <label>از تاریخ
                        <input required data-jdp type="text" name="select" id="select" value="{{ az }}"
                               class="form-control" placeholder="تاریخ" autocomplete="off">
                    </label>
                    <label>تا تاریخ
                        <input required data-jdp type="text" name="select2" id="select2" value="{{ ta }}"
                               class="form-control" placeholder="تاریخ" autocomplete="off">
                    </label>
            <label>مرتب سازی
                <select class="form-control" name="sorted" id="sorted">
                    <option value="2" selected>بر اساس تاریخ</option>
                    <option value="1">بر اساس جایگاه</option>
                </select>
            </label>
                    <button class="btn btn-primary" type="submit">نمایش</button>
                    &nbsp
                    <button onclick="exportToExcelWithBorders()" id="exportBtn1" class="btn btn-warning">ارسال به اکسل</button>

            </form>

        </div>
    </div>
    <div class="card">
    <div class="card-body">

    <div class="table-responsive">
    <table id="myTable" class="table table-striped table-bordered">
    <caption>گزارش فروش ثبت نشده</caption>
        <thead>
        <tr>

            <th class="text-center">ردیف</th>
            <th class="text-center">منطقه</th>
            <th class="text-center">ناحیه</th>
            <th class="text-center">کد جایگاه</th>
            <th class="text-center">جایگاه</th>
             <th class="text-center">تاریخ</th>
            <th class="text-center">شماره نازل</th>
            <th class="text-center">فروش مکانیکی</th>
            <th class="text-center">فروش الکترونیکی</th>
            <th class="text-center">اختلاف</th>
            <th class="text-center">مجاز</th>
            <th class="text-center">غیر مجاز</th>
            <th class="text-center">نوع اختلاف</th>
            <th class="text-center">مشاهده فروش روز</th>


        </tr>
        </thead>

<tbody>
        {% for item in list %}
            {##}
            <tr {% if item.st == 1 %} style="background-color: #c3e7a5; color: black" {% elif item.st == 2 %}
                                      style="background-color: #4ba2e4; color: black" {% endif %}>

                <td class="text-center">{{ forloop.counter }}</td>
                <td class="text-center">{{ item.gs.area.zone.name }}</td>
                <td class="text-center">{{ item.gs.area.name }}</td>
                <td class="text-center">{{ item.gs.gsid }}</td>
                <td class="text-center">{{ item.gs.name }}</td>
                <td class="text-center">{{ item.tarikh }}</td>
                <td class="text-center">{{ item.pumpnumber }}</td>
                <td class="text-center">{{ item.sell }}</td>
                <td class="text-center">{{ item.sellkol }}</td>
                <td class="text-center">{{ item.ekhtelaf }}</td>
                <td class="text-center">{{ item.mojaz }}</td>
                <td class="text-center">{{ item.nomojaz }}</td>
                <td  class="align-middle text-center text-sm">{% if item.sell > item.sellkol %}<span style="color: #ff261e;" > منفی </span>{% else %}<span style="color: #1249ff;" >مثبت</span>{% endif %}</td>
                <td class="text-center"><a href="{% url 'sell:printsell2' item.tarikh item.gs_id %}" class="btn btn-success">مشاهده</a></td>

            </tr>



        {% endfor %}
    </tbody>
    <tfoot>
     <tr>


                <td colspan="7" class="text-center">جمع کل</td>
{#                <td class="text-center"></td>#}
{#                <td class="text-center"></td>#}
{#                <td class="text-center"></td>#}
{#                <td class="text-center"></td>#}
{#                <td class="text-center"></td>#}
                <td class="text-center">{{ summer.mek }}</td>
                <td class="text-center">{{ summer.sellkol }}</td>
                <td class="text-center">{{ summer.ekhtelaf }}</td>
                <td class="text-center"></td>
                <td class="text-center">{{ summer.nomojaz }}</td>
                <td  class="align-middle text-center text-sm"></td>
                <td class="text-center"></td>

            </tr>
        </tfoot>
    </table>

{% endblock %}
{% block script %}
    <script src="{% static 'assets/js/examples/datatable.js' %}"></script>

    <script src="{% static 'vendors/dataTable/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/dataTable/dataTables.responsive.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            jalaliDatepicker.startWatch();
             $('.select2-example').select2({
            placeholder: 'Select'
        });
            $("#exportBtn11").click(function () {
                TableToExcel.convert(document.getElementById("myTable"), {
                    name: "GSInfo.xlsx",
                    sheet: {
                        name: "Sheet1"
                    }
                });
            });
        });
    </script>
{% endblock %}