<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
        <link rel="stylesheet" href="{% static 'vendors/dataTable/dataTables.min.css' %}">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/media/image/logo-sm.png' %}">

    <!-- Plugin styles -->
    <link rel="stylesheet" href="{% static 'vendors/bundle.css' %}">

    <!-- Datepicker -->
    <link rel="stylesheet" href="{% static 'vendors/select2/css/select2.min.css' %}" type="text/css">

    <!-- Slick -->
    <link rel="stylesheet" href="{% static 'vendors/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/slick/slick-theme.css' %}">

    <!-- Vmap -->
    <link rel="stylesheet" href="{% static 'vendors/vmap/jqvmap.min.css' %}">
 <link rel="stylesheet" href="{% static 'vendors/prism/prism.css' %}">
    <!-- App styles -->
    <link rel="stylesheet" href="{% static 'assets/css/appv1.css' %}">
    <meta charset="UTF-8">
    <title>صفحه مورد نظر پیدا نشد</title>

</head>
<body>

<h1 class="text-center text-danger"> صفحه مورد نظر وجود ندارد</h1>
</body>
</html>