<div class="btn-group">
  <button style="width: 150px; height: 70px" class="btn btn-secondary" type="button">
 <h3>  <i class="ti-plus"></i></h3>
      <hr>

     <h6> تیکت جدید</h6>
  </button>
</div>

<div class="btn-group">
  <button style="width: 150px; height: 70px" class="btn btn-outline-light btn-lg dropdown-togglespan" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 <h3>  <i class="ti-list"></i></h3>

      <hr>



     <h5>عملیات</h5>
  </button>
  <div class="dropdown-menu">
  <a class="dropdown-item" href="#"><!-- https://feathericons.dev/?search=grid&iconset=feather -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
  <rect height="7" width="7" x="3" y="3" />
  <rect height="7" width="7" x="14" y="3" />
  <rect height="7" width="7" x="14" y="14" />
  <rect height="7" width="7" x="3" y="14" />
</svg>
   در حال بررسی</a>
        <a class="dropdown-item" href="#"><!-- https://feathericons.dev/?search=user&iconset=feather -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
  <circle cx="12" cy="7" r="4" />
</svg>
  تیکت های من</a>
              <a class="dropdown-item" href="#"><!-- https://feathericons.dev/?search=terminal&iconset=feather -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
  <polyline points="4 17 10 11 4 5" />
  <line x1="12" x2="20" y1="19" y2="19" />
</svg>
  تیکت های در دست اقدام</a>
              <a class="dropdown-item" href="#"><!-- https://feathericons.dev/?search=toggle-right&iconset=feather -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
  <rect height="14" rx="7" ry="7" width="22" x="1" y="5" />
  <circle cx="16" cy="12" r="3" />
</svg>
  تیکت های بسته شده</a>
              <a class="dropdown-item" href="#"><!-- https://feathericons.dev/?search=table&iconset=feather -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
  <path d="M9 3H5a2 2 0 0 0-2 2v4m6-6h10a2 2 0 0 1 2 2v4M9 3v18m0 0h10a2 2 0 0 0 2-2V9M9 21H5a2 2 0 0 1-2-2V9m0 0h18" />
</svg>
  همه تیکت ها</a>

    <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><!-- https://feathericons.dev/?search=file-text&iconset=feather -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
  <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
  <polyline points="14 2 14 8 20 8" />
  <line x1="16" x2="8" y1="13" y2="13" />
  <line x1="16" x2="8" y1="17" y2="17" />
  <polyline points="10 9 9 9 8 9" />
</svg>
گزارش خرابی به تفکیک قطعه</a>
              <a class="dropdown-item" href="#"><!-- https://feathericons.dev/?search=file-text&iconset=feather -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
  <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
  <polyline points="14 2 14 8 20 8" />
  <line x1="16" x2="8" y1="13" y2="13" />
  <line x1="16" x2="8" y1="17" y2="17" />
  <polyline points="10 9 9 9 8 9" />
</svg>
گزارش خرابی به تفکیک فرآورده</a>

      <a class="dropdown-item" href="#"><!-- https://feathericons.dev/?search=file-text&iconset=feather -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
  <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
  <polyline points="14 2 14 8 20 8" />
  <line x1="16" x2="8" y1="13" y2="13" />
  <line x1="16" x2="8" y1="17" y2="17" />
  <polyline points="10 9 9 9 8 9" />
</svg>
گزارش تیکت های روزانه</a>
  </div>
</div>
<br>
<br>

